@mixin text-size($size: 1.4) {
	$rem: $size;
	$px: ($size * 10);
	font-size: #{$px}px;
	font-size: #{$rem}rem;
}

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin text-stroke($offset, $color) {
	text-shadow: $offset 0 $color, 0 ($offset / 1.5) $color, ($offset / 2) 0 $color, ($offset / 2) ($offset / 2) $color, -#{$offset / 2} 0 $color, 0 -#{$offset / 1.5} $color, -#{$offset / 1} -#{$offset / 2} $color, -#{$offset} 0 $color;
}
